@import url('./assets/styles/fonts.css');
@import 'swiper/css';

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.customCheckbox {
    height: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: ' #000';
    padding: 6px 16px;
}

.customCheckbox:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.06);
}
