@font-face {
    font-family: 'Inter';
    src:
        local('Inter-Regular'),
        url('../fonts/Inter18pt-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src:
        local('Inter-Medium'),
        url('../fonts/Inter18pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src:
        local('Inter-SemiBold'),
        url('../fonts/Inter18pt-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src:
        local('Inter-Bold'),
        url('../fonts/Inter18pt-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src:
        local('Inter-ExtraBold'),
        url('../fonts/Inter18pt-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
        local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src:
        local('Rubik-Regular'),
        url('../fonts/Rubik-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
